.game-scoreboard-placeholder {
    font-size: 3rem;
    height: 25%;

    margin-top: 2%
}

.scoreboard-table {
    margin-top: 1%;

    width: 100%;
    
    display: flex;

    flex-direction: column;

    overflow: auto;
}

.scoreboard-player-header {
    width: 100%;
    display: grid;
}

.scoreboard-player-header-item {
    font-size: 2.5rem;
    font-weight: lighter;
    border-bottom: 2px solid black;
    padding-bottom: 1.5%;
}

.scoreboard-score-row {
    display: grid;

    border-bottom: 2px solid black;
}

.scoreboard-score-item {
    font-size: 2rem;

    width: 75px;
    height: 75px;
}