.die {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    user-select: none;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 25px;
}

.die-unlocked:hover {
    background-color: white;
}

.die-unlocked {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.die-unlocked:hover {
    background-color: rgb(235, 235, 235);
}

.die-locked {
    background-color: rgb(150, 150, 150);
}

.die-will-be-locked {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.die-will-be-locked:hover {
    background-color: rgb(195, 195, 195);
}