.die {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    user-select: none;

    margin: 25px;
}

.die-value {
    align-items: center;
    font-size: 1.8rem;
}

.die-sides {
    align-items: center;
    font-size: 1rem;
    margin-top: 15px;
    color: blue;
}

.die-unlocked:hover {
    background-color: white;
}

.die-unlocked {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.die-unlocked:hover {
    background-color: rgb(235, 235, 235);
}

.die-locked {
    background-color: rgb(165, 165, 165);
}

.die-will-be-locked {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.die-will-be-locked:hover {
    background-color: rgb(195, 195, 195);
}