.game-score-header-item {
    font-size: 1rem;
    padding-top: 5px;
}

.game-score-header-id-text {
    font-size: 1.5rem;
}

.game-score-header-score-text {
    font-size: 1.25rem;
    margin-top: 10px;
}