.game-score-header-item {
    font-size: 1rem;
    padding: 5px;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.game-score-header-id-text {
    font-size: 1.5rem;
}

.game-score-header-score-text {
    font-size: 1.25rem;
    margin-top: 10px;
}