.game-start-screen {
    height: 90%;
}

.game-start-button {
    font-size: 2rem;
    padding: 10px 0px;
    width: 260px;
}

.game-start-input {
    width: 250px;
    border-radius: 5px;
    padding: 5px;
}

.game-start-warning {
    color: red;
    margin: 15px;
    height: 20px;
}