.game-start-screen {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;
}

.game-start-button {
    font-size: 2rem;
    padding: 10px 0px;
    width: 260px;

    background-color: rgb(134, 166, 180);
    border: 2px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.game-start-button:hover {
    background-color: rgb(148, 177, 188);
}

.game-start-input {
    margin: 30px;
    width: 250px;
}