.game-component {
    display: flex;

    flex-direction: column;
}

.game-display-text {
    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: center;

}

.game-turn-display {
    margin-top: 2.5%;

    font-size: 2rem;
}

.game-score-display {
    font-size: 2.5rem;
}

.game-rolls-left-display {
    font-size: 1.5rem;
}

.game-dice-container {
    margin-top: 2.5%;

    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.roll-dice-button {
    font-size: 2rem;
    width: 500px;
    height: 100px;

    margin-top: 2.5%;

    background-color: rgb(134, 166, 180);
    border: 2px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roll-dice:hover {
    background-color: rgb(148, 177, 188);
}